ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #0B2C39;
}
body {
  font-family: 'Economica', sans-serif;
  font-size: 1em;
}
h1 {
  text-transform: uppercase;
}
/* INDEX PAGE */
.index_h1 {
  font-size: 4em;
  text-align: center;
  color: #0B2C39;
}
.index_ul {
  padding-bottom: 2em;
  border-bottom: 2px solid #0B2C39;
}
.index_nav {
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: .5em;
  padding-right: 1em;
}
.index_nav a {
   color: #0B2C39;
}
.index_nav a:visited {
  color: #0B2C39;
}
.index_nav a:hover {
  color: #AA3939;
}

header {
  text-align: center;
  margin-top: 2em;
}
/* Logo - No Water - Problem, Video, Involved Page */
.logo_nowater {
  padding: 0 0 0 1em;
  font-size: 2.5em;
}
/* Video Page */
.video_funny {
  border: 2px solid #0B2C39;
  width: 100%;
}
.video_serious {
  border: 1px solid #0B2C39;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 1.75em;
}
.video_description_funny {
  text-align: center;
}
.video_description_serious {
  text-align: center;
  padding: 0 5%;
}
.video_serious_section {
  text-align: center;
}
.video_paragraph {
  font-size: 1.75em;
}
.video_cite {
  text-align: center;
}
/* The Problem. */
.world_photos {
  text-align: center;
  padding-bottom: 1.5em;
}
.problem_p {
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 1em;
}
.stats_p {
  font-size: 1.5em;
  text-align: center;
}
.problem_why {
  clear: both;
  border-top: 2px solid #0B2C39;
  padding-top: 2em;
}
.world_areas {
  padding-bottom: 1em;
}
/* Get Involved Page. Your Role */
.getinvolved {
  font-size: 1.75em;
}
.involved_p {
  font-size: 1.75em;
  text-align: center;
}
.bit-3 {
  width: 100%;
  text-align: center;
  height: 250px;
}
/* footer */
footer {
  font-size: 2em;
  padding: 2em 0;
  text-align: center;
  clear: both;
}
@media screen and (min-width: 560px) {
  .index_h1 {
  font-size: 6em;
}
  .video_serious {
    width: 560px;
  }
  .index_ul {
    border-bottom: none;
  }
  .index_nav {
    display: inline-block;
    margin: 0 5%;
    border-bottom: 2px solid #0B2C39;
    padding-right: 0;
  }
  .video_funny_section {
    width: 45%;
    float: left;
    margin: 2.5%;
  }
  .video_paragraph {
  font-size: 2.5em;
}
/* Logo - No Water - Problem, Video, Involved Page */
.logo_nowater {
  padding: .5em 0 .5em 2em;
  font-size: 3em;
}
/* Your Role: Get Involved Page */
.getinvolved {
  font-size: 2.5em;
}
.involved_p {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 1.5em;
}
.bit-3 {
  display: inline-block;
  width: 45%;
  float: left;
  padding-bottom: 1em;
  padding-right: 1em;
}
/* The Problem */
.problem_p {
  font-size: 2.5em;
  padding: 0 1.5em;
}
.world_areas {
  width: 50%;
  float: left;
}
}
@media screen and (min-width: 650px) {
}
